.menuheader {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.menuheader:hover {
  background-color: #eee;
  cursor: pointer;
  border-left: 5px solid #0400ff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.submenu {
  display: none;
}

.submenu.visible {
  display: block;
}