.sidebar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100vh;
  max-width: 380px;
  position: absolute;
  top: 0;
  z-index: 100;
}

.sidebarcontent {
  overflow-y: scroll;
}