.hamburger-btn {
  color: #fff;
  background-color: #15171c;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.hamburger-btn:hover {
  cursor: pointer;
  color: #e6d709;
}